body {
	background:#F2F2F2;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}
.home2 {
	width:960px;
	height:auto;
	margin:auto;	
}
.bg-user{
	width:960px;
	height:50px;
	
	margin-top:3%;

	}
.bg-touxiang{
	width:50px;
	height:50px;
	float:left;

	}
.bg-fh{
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	text-align:center;
	padding-top:8px;
	
	
	
	}
.bg-top{
	font-size:40px;
	
	font:"Times New Roman", Times, serif;
	width:200px;
	height:50px;
	font-weight:bold;
	color:#000000;
	float:left;
	line-height:50px;
	
	
	}
.bg-username{
	font:Arial, Helvetica, sans-serif;
	font-size:18px;
	width:600px;
	height:50px;
	font-weight:bold;
	color:#000000;
	float:left;
	text-align:right;
	padding-top:10px;
	margin-right:10px;
	
	}
.bg-left{
	width:360px;
	height:605px;
	border:1px #CCC dashed;
	float:left;
	margin-top:5%;
	margin-right:30px;}
.bg-left3{
	width:400px;
	
	
	float:left;
	margin-top:5%;
	margin-left:50px;
	
	margin-right:50px;}
.bg-left2{
	width:360px;
	height:490px;
	
	float:left;
	margin-top:5%;
	
	margin-right:30px;}
.bg-left-img{
width:360px;
height:360px;	
float:left;	


	}
.bg-left-img img{
width:360px;
height:360px;	
float:left;
border:1px #CCC solid;
	}
.bg-left-zw{
margin-top:40px;
margin-bottom:10px;
width:360px;
float:left;
color:#008299;
font-family:"黑体","宋体" !important;
	}
.bg-tishi{
font-family:"黑体","宋体" !important;
margin:20px;
color: #F99;	
	
	}
.bg-right{
	width:500px;
	height:600px;
	
	float:left;
	margin-top:5%;
	
	}
.bg-right3{
	width:400px;
	
	
	float:left;
	margin-top:5%;
	
	}
.bg-right2{
	width:900px;
	
	margin-left:3%;
	float:left;
	margin-top:5%;
	
	}
.bg-title{
width:500px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#666666;
font-size:24px;
}
.bg-title3{
width:360px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#666666;
font-size:24px;
}
.bg-title2{
width:600px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#666666;
font-size:24px;
margin-bottom:10px;
height:30px;
}
.bg-train{
width:380px;
float:left;
margin-top:15px;
	}
.bg-train-left{
	width:10px;
	height:60px;
	background:#41CAC0;
	float:left;
	}
.bg-train-right{
	width:370px;
	height:60px;
	background:#FFF;
	float:left;
	color:#00000;
font-family:"黑体","宋体" !important;

	}
.kc-name{
width:350px;	
height:30px;
float:left;
line-height:30px;
padding-left:20px;	
	}
.kc-zt{
width:350px;	
height:30px;
float:left;
line-height:30px;
padding-left:20px;	
	}
.kc-zt2{
width:80px;	
height:30px;
float:left;
line-height:30px;
padding-left:20px;	
	}
.kc-time{
width:265px;	
height:30px;
float:left;
line-height:30px;
text-align:right;
padding-right:5px;
	
	}
.bg-train2{
width:380px;
float:left;
margin-top:15px;
	}
	
	
.bg-train2-focos{
width:380px;
float:left;
margin-top:15px;
border:2px #FF6C60 solid;
	}
.bg-train-left2{
	width:10px;
	height:60px;
	background:#FF6C60;
	float:left;
	}
.bg-train-right2{
	width:370px;
	height:60px;
	background:#FFF;
	float:left;
	color:#00000;
font-family:"黑体","宋体" !important;

	}

.bg-time{
width:260px;
float:left;	
color:#666666;
font-size:16px;
margin-bottom:10px;
height:30px;

text-align:right;
	}
.bg-table{
width:500px;
float:left;
margin-top:20px;
color:#666666;
font-size:14px;
font-weight: normal;
line-height:5px;
font-family:"黑体","宋体" !important;
}
.bg-table td{
	height:50px;
	
	
	}
.zc-input{
    height: 10px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #D1D1D1;
    font:14px Arial;
    color: #888172;
    margin: 12px 0 12px 0;
	width:436px;
}

.zc-input:focus{
    border: 1px solid #eadcbf;
    outline: none;
}
input:focus{
    border: 1px solid #eadcbf;
    outline: none;
}
	
.Infor-btn{
	height:30px;
	width:80px;
	background:#0072EA;
	border:#0072EA solid 1px;
	margin-right:10px;
	color:#FFF;
	font-size:12px;
	padding:0;
	

	}
.bg-btn{
width:460px;
float:left;
text-align:left;
margin-right:40px;

	}	
.Radio{

outline: none;

vertical-align:middle;
padding-top:10px;
padding-bottom:10px;

	}
.hosp-green{
	width:160px;
	height:160px;

	background:#0671DE;
	margin-top:0%;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	
	}
.hosp-focus{
	width:160px;
	height:160px;
	background:#0671DE;
	border:2px solid #0657aa;
	background: url("../img/accept_item.png") no-repeat 138px 2px #0671DE;
	
	
	margin-top:0%;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	
	
	}
.hosp-font{
	width:160px;
	height:80px;
	color:#FFF;
	font-size:15px;
	font-family:"黑体","宋体" !important;
	margin-top:40px;
	text-align: center;
	padding-top:33px;
	font-weight:bold;
	margin-right:10px;
	float:left;
	margin-bottom:10px;
	}
.hosp-hr{
	width:900px;
	height:50px;
	border-top:1px #DADADA solid;
	float:left;
	margin-top:2%;
	font-family:Arial, Helvetica, sans-serif;

    color:#666666;
	padding-top:10px;
	text-align:right;
	}
.train-hr{
	width:900px;
	height:50px;
	border-top:1px #DADADA solid;
	float:left;
	margin-top:2%;
	font-family:Arial, Helvetica, sans-serif;

    color:#666666;
	padding-top:10px;
	text-align:left;
	margin-left:50px;
	
	}
.train-hr-left{
	width:400px;
	float:left;
	height:40px;
	margin-right:50px;
	margin-top:10px;
	
	
	}
.train-hr-right{
	width:400px;
	float:left;
	height:50px;
	text-align:right;
	
	
	}
.pre{
	height:30px;
	width:80px;
	background:#FFF;
	border:#DADADA solid 1px;
	margin-right:10px;
	margin-top:10px;
	
	font-size:12px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	
	}
.pre:hover{
	height:30px;
	width:80px;
	background:#BEC3C7;
	border:#F5F6F8 solid 1px;
	margin-right:10px;
	margin-top:10px;
	font-weight:bold;
	
	font-size:12px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	}
.train-button{
	height:30px;
	width:80px;
	background:#FF6C60;
	border:#FF6C60 solid 1px;
	margin-right:10px;
	color:#FFF;
	}
.bg-center{
	width:800px;
	
	margin-left:10%;
	float:left;
	margin-top:5%;
	
	
	}
.bg-title3{
width:420px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#666666;
font-size:24px;
margin-bottom:10px;
height:30px;
}
.time-pre{
	width:30px;
	height:30px;
	background-image:url(../img/pre.png);
	border:0px;
	float:left;
	margin-right:10px;}
.time-next{
	width:30px;
	height:30px;
	background-image:url(../img/next.png);
	border:0px;
	float:right;
	}
.time-bule{
	width:160px;
	height:160px;

	background:#0671DE;
	margin-top:0%;
	float:left;
	margin-right:15px;
	margin-bottom:15px;

    cursor: pointer;
	}
.time-focus{
	width:160px;
	height:160px;
	background:#0671DE;
	border:2px solid #0657aa;
	background: url("../img/accept_item.png") no-repeat 138px 2px #0671DE;
	
	
	margin-top:0%;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	
	
	}
.time-font{
	width:160px;
	height:50px;
	color:#FFF;
	font-size:40px;
	font-family:"黑体","宋体" !important;
	margin-top:40px;
	text-align: center;
	padding-top:20px;
	font-weight:bold;
	margin-right:10px;
	float:left;
	margin-bottom:10px;
	}

.month-font{
	width:150px;
	height:40px;
	float:left;
	text-align:left;
	color:#FFF;
	font-family:"黑体","宋体" !important;
	padding-left:10px;
	font-size:14px;
	font-weight:bold;
	}